neural-links-pcb-defect-detection/pcb-defect-dataset
neural-links-pcb-defect-detection/venv
neural-links-pcb-defect-detection/pcb-defect-subset-5000
neural-links-pcb-defect-detection/pcb-defect-dataset-5000-coco